:host {
    .game-layout {
        max-width: 1920px;
    }

    .operation-container {
        left: 50%;
        transform: translate(-50%, 0);
        backdrop-filter: blur(5px);
    }

    aside {
        box-shadow:
            0 0 6px blue,
            /* tight glow */ 0 0 16px blue,
            /* medium glow */ 0 0 32px blue,
            /* outer glow */ 0 0 64px blue;
    }

    .mat-mdc-form-field .mat-mdc-input-element {
        color: #fff;
        caret-color: #fff;
    }

    .player-fire-notification {
        top: 15px;
        left: 5%;
    }

    @media (max-width: 960px) {
        .game-layout aside {
            order: 2;
        }

        .game-layout main {
            order: 1;
        }
    }
}
