@if (vm$ | async; as gameState) {
    <div class="game-layout w-100 h-100 center pa3">
        <div class="flex flex-column flex-row-l h-100">
            <aside class="w-100 w-20-l pr3">
                <!-- Controls -->

                <form
                    [formGroup]="gameForm"
                    class="w-100 flex flex-column">
                    <mat-form-field
                        appearance="outline"
                        class="measure-wide">
                        <mat-label>Answer</mat-label>
                        <input
                            matInput
                            type="number"
                            formControlName="playerInput"
                            name="playerInput" />
                    </mat-form-field>
                    <button
                        class="flex-auto"
                        type="button"
                        mat-flat-button
                        [disabled]="!gameForm.valid"
                        (click)="fireLaser()">
                        Fire
                    </button>
                </form>

                <!-- History -->
                <div>History</div>
            </aside>

            <main class="w-100 w-80-l">
                <app-game-animations #game></app-game-animations>
            </main>
        </div>
    </div>
}
