@if (vm$ | async; as gameState) {
    <div class="game-layout w-100 h-100 center pa3">
        <div class="flex flex-column flex-row-l h-100">
            <aside class="w-100 w-20-l pa3 ba br4 flex flex-column">
                <!-- Controls -->
                <form
                    [formGroup]="gameForm"
                    class="w-100 flex flex-column pb3">
                    <mat-form-field
                        appearance="outline"
                        class="measure-wide">
                        <mat-label>Answer</mat-label>
                        <input
                            autocomplete="off"
                            matInput
                            type="number"
                            (keydown.enter)="
                                gameForm.valid &&
                                    gameState.status == GameStatus.Running &&
                                    fireLaser()
                            "
                            formControlName="playerInput"
                            name="playerInput" />
                    </mat-form-field>
                    <button
                        class="flex-auto neon"
                        mat-flat-button
                        [disabled]="
                            !gameForm.valid ||
                            gameState.status !== GameStatus.Running
                        "
                        data-testid="fire-laser"
                        (click)="fireLaser()">
                        Fire
                    </button>
                </form>

                <!-- History -->
                <p class="f3 neon white">History</p>
                <app-game-history></app-game-history>
            </aside>

            <main class="w-100 w-80-l relative">
                <div
                    class="absolute z-999 bg-black-50 white pa3 w-40 center top-20 operation-container h-auto f1 tc">
                    <span class="neon">
                        @switch (gameState.status) {
                            @case (GameStatus.Running) {
                                {{ gameState.currentOperation?.a }} +
                                {{ gameState.currentOperation?.b }} =
                            }
                            @case (GameStatus.Won) {
                                WINNER!
                            }
                            @case (GameStatus.GameOver) {
                                GAME OVER!
                            }
                            @case (GameStatus.Resumed) {
                                {{ countdown }}
                            }
                        }
                    </span>
                </div>

                @if (playerFireNotificaton && playerFireNotificaton.value) {
                    <div
                        class="absolute z-999 player-fire-notification neon f1"
                        [ngStyle]="{
                            color: playerFireNotificaton.value.color,
                        }">
                        {{ playerFireNotificaton.value.text }}
                    </div>
                }

                <app-game-animations #game></app-game-animations>
            </main>
        </div>
    </div>
}
