<div class="flex flex-column justify-center items-center pa3">
    <p
        class="f1 blue neon game-title mb1 tc"
        style="color: blue">
        NEON CORE
    </p>
    <p class="white neon tc">The grid is live. The Core is fading.</p>
    <p class="white neon tc">
        Protect it, dodge the clutter, and take the clean shots.
    </p>
    <p class="white neon tc">
        Rules are simple: save the Neon Core and shoot
        <span
            class="blue neon"
            style="color: blue">
            BLUE
        </span>
        , not
        <span
            class="red neon"
            style="color: red">
            RED
        </span>
        !
    </p>

    <p class="neon white f2 mt3">Select level:</p>

    <mat-button-toggle-group
        data-testid="level-group"
        class="white neon mb3"
        style="color: red"
        hideSingleSelectionIndicator
        [formControl]="levelControl"
        flat
        name="level"
        aria-label="Select difficulty level">
        <mat-button-toggle [value]="1">Level 1</mat-button-toggle>
        <mat-button-toggle [value]="2">Level 2</mat-button-toggle>
        <mat-button-toggle
            data-testid="level-3"
            [value]="3"
            >Level 3</mat-button-toggle
        >
    </mat-button-toggle-group>

    <div class="ba b--red enemy-path-container">
        <svg
            #game
            class="w-100 h-100"
            viewBox="0 0 100 100">
            <!-- Enemy path -->
            @if (enemyD$ | async; as enemyD) {
                <path
                    style="color: red"
                    class="neon neon-pulse"
                    [attr.d]="enemyD"
                    fill="none"
                    stroke="red"
                    stroke-width="0.5"></path>
                <line
                    class="neon"
                    style="color: blue"
                    x1="0"
                    y1="95"
                    x2="100"
                    y2="95"></line>
            }
        </svg>
    </div>

    <div class="mt3">
        <button
            mat-flat-button
            style="color: white"
            class="white neon play-btn"
            data-testid="play-btn"
            (click)="play()"
            [disabled]="!levelControl.valid">
            Play
        </button>
    </div>
</div>
