:host {
    .game-title {
        animation: zoomPulse 1.2s ease-in-out infinite alternate;
    }

    @keyframes zoomPulse {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.12);
        }
    }

    @keyframes changedash {
        from {
            stroke-dashoffset: 502.7825622558594px;
            stroke-dasharray: 502.7825622558594 502.7825622558594;
        }

        to {
            stroke-dashoffset: 0px;
            stroke-dasharray: 502.7825622558594 502.7825622558594;
        }
    }

    path {
        animation-duration: 1.5s;
        animation-name: changedash;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    .enemy-path-container {
        width: 220px;
        height: 220px;
    }

    .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
        background-color: red;
        color: white;
    }

    .play-btn {
        width: 220px;
    }
}
