@if (vm$ | async; as gameState) {
    <div>
        <p class="f3 neon white">History</p>
        <div style="height: 560px;" class="flex">
            <div class="flex flex-column overflow-y-auto w-100">
                @for (history of gameState.history; track $index) {
                    <div class="flex flex-wrap mb3 pv2 br4 white-90 f4 ba" [ngClass]="history.playerCorrect ? 'b--white' : 'b--red'" style="max-height: 80vh;">
                        <div class="w-60">
                          <div class="pl3 neon"> {{ history.operation.a }} + {{ history.operation.b }} = </div>
                        </div>
                        <div class="w-20 tc" [ngClass]="history.playerCorrect ? 'white' : 'red'">
                          <div class="">{{ history.playerInput }}</div>
                        </div>
                        @if (!history.playerCorrect) {
                            <div class="w-20 tc blue neon">
                                <div class="">{{ history.operation.result }}</div>
                              </div>
                        }
            
                        <div class="w-100 tc pt2 neon" [ngClass]="history.playerCorrect ? 'white' : 'red'">
                            {{history.playerCorrect ? 'CORRECT!' : 'WRONG!' }}
                        </div>
                       
                      </div>
                    
                }
        </div>
    </div>
    
    
</div>
}