{
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 80,
    "tabWidth": 4,
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss"],
            "options": { "singleQuote": false }
        },
        {
            "files": ["**/*.html"],
            "options": { "parser": "angular" }
        }
    ]
}
