@if (vm$ | async; as gameState) {
    <div class="h-100 relative">
        <svg
            #game
            class="w-100 h-100"
            viewBox="0 0 100 100">
            <!-- Ship Laser gun -->
            <g transform="translate(45, 94) rotate(270)">
                <!-- points defined pointing along +X; (0,0) is the triangle tip -->
                <polygon
                    points="0,0 -4,2.5 -4,-2.5"
                    fill="blue" />
            </g>

            @if (laser$ | async; as laser) {
                <line
                    [attr.style]="'color:' + laser.color"
                    class="neon"
                    x1="45"
                    y1="94"
                    [attr.x2]="laser.targetX"
                    [attr.y2]="laser.targetY"
                    [attr.stroke]="laser.color"
                    stroke-width="2" />
            }

            <!-- Enemy path -->
            <path
                style="color: red"
                [attr.d]="enemyD"
                fill="none"
                pathLength="100"
                stroke-dasharray="100 100"
                stroke-dashoffset="100"
                stroke="red"
                stroke-width="0.5">
                <set
                    attributeName="class"
                    to="neon neon-pulse"
                    begin="2.1s"></set>
                <animate
                    attributeName="stroke-dashoffset"
                    from="100"
                    to="0"
                    dur="2s"
                    begin="0s"
                    repeatCount="1"
                    fill="freeze" />
            </path>

            <!-- ship line at 95% -->
            <line
                class="neon"
                [ngStyle]="{
                    color:
                        gameState.status !== GameStatus.GameOver
                            ? 'blue'
                            : 'red',
                }"
                x1="0"
                y1="95"
                x2="100"
                y2="95"></line>

            @for (enemy of gameState.enemies; track enemy) {
                <circle
                    class="reveal-on-delay"
                    [attr.r]="r"
                    [attr.id]="isFirstEnemy(enemy.beginMs) ? 'first-enemy' : ''"
                    [style.animationDelay]="enemy.beginMs - 3900 + 'ms'"
                    fill="none"
                    stroke-width="0.5"
                    stroke="red">
                    <animateMotion
                        [attr.path]="enemyD"
                        repeatCount="1"
                        [attr.dur]="cfg.pathDurationMs + 'ms'"
                        [attr.begin]="enemy.beginMs + 'ms'" />
                </circle>
            }
        </svg>
    </div>
}
